connect2018/face-recognition-app/classes/aws-s3-connect.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="aws-s3-retrieve-images">
		<logger level="INFO" doc:name="Logger" />
		<set-payload value="#[payload.getObjectSummaries()]"
			doc:name="Copy_of_Set Payload" />
	</flow>
	<flow name="aws-s3-store-images">
		<set-payload
			value="#[['fileContent' : message.inboundAttachments.fileContent.getContent(), 'fileName' : message.inboundAttachments.fileName.getContent().toString(),'bucketname' : message.inboundAttachments.bucketname.getContent().toString()]]"
			doc:name="Extract Attachments" />
		<logger level="INFO" doc:name="Logger" />
	</flow>
</mule>
