connect2018/customer-app/src/main/mule/customer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="customer-httpsListenerConfig" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
            <tls:context>
                <tls:key-store type="jks" path="keystore.jks" password="password" keyPassword="password" />
            </tls:context>
        </http:listener-connection>
    </http:listener-config>
    <apikit:config name="customer-config" raml="customer.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <global-property doc:name="Global Property" doc:id="1faa825a-70c4-4b3f-9d24-42dc26eebe72" name="https.port" value="8082" />
    <flow name="customer-main">
        <http:listener config-ref="customer-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customer-console">
        <http:listener config-ref="customer-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\customers:application\json:customer-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 5640099,
  login: "uri.sarid",
  fullName: "Uri Sarid",
  email: "uri.sarid@mulesoft.com",
  gender: "male",
  birthday: "1984-12-14",
  address: {
    country: "USA",
    state: "CA",
    city: "San Francisco",
    street_address: "77 Geary St",
    zip: 94108
  },
  avatar: {
    id: 4323,
    url: "https://media.licdn.com/dms/image/C4D03AQHouKvD9PVzLA/profile-displayphoto-shrink_200_200/0?e=1527534000&v=alpha&t=WCl5pwfL9ChyPq_CnjT9SkctwTe9bP_XzC_X9acc_6o"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:customer-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 5640097,
    login: "jconnor",
    fullName: "John Connor",
    email: "jconnor@gmail.com",
    gender: "male",
    birthday: "1984-03-03",
    address: {
      country: "USA,",
      state: "CA,",
      city: "San Francisco,",
      street_address: "77 Geary St",
      zip: 94108
    },
    avatar: {
      id: 4321,
      url: "http://cdn.playbuzz.com/cdn/65e0d76d-1693-468b-841c-7703a7796e36/8958a07c-484d-4da0-8cff-f2fceb55dde8.jpg"
    }
  }, 
  {
    id: 5640098,
    login: "sconnor",
    fullName: "Sarah Connor",
    email: "sconnor@outlook.com",
    gender: "female",
    birthday: "1968-12-15",
    address: {
      country: "USA",
      state: "CA",
      city: "San Francisco",
      street_address: "77 Geary St",
      zip: 94108
    },
    avatar: {
      id: 4322,
      url: "https://amp.businessinsider.com/images/59c27c3f38d20d2a008b8842-750-563.jpg"
    }
  }, 
  {
    id: 5640099,
    login: "uri.sarid",
    fullName: "Uri Sarid",
    email: "uri.sarid@mulesoft.com",
    gender: "male",
    birthday: "1984-12-14",
    address: {
      country: "USA",
      state: "CA",
      city: "San Francisco",
      street_address: "77 Geary St",
      zip: 94108
    },
    avatar: {
      id: 4323,
      url: "https://media.licdn.com/dms/image/C4D03AQHouKvD9PVzLA/profile-displayphoto-shrink_200_200/0?e=1527534000&v=alpha&t=WCl5pwfL9ChyPq_CnjT9SkctwTe9bP_XzC_X9acc_6o"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customer_id):customer-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 5640099,
  login: "uri.sarid",
  fullName: "Uri Sarid",
  email: "uri.sarid@mulesoft.com",
  gender: "male",
  birthday: "1984-12-14",
  address: {
    country: "USA",
    state: "CA",
    city: "San Francisco",
    street_address: "77 Geary St",
    zip: 94108
  },
  avatar: {
    id: 4323,
    url: "https://media.licdn.com/dms/image/C4D03AQHouKvD9PVzLA/profile-displayphoto-shrink_200_200/0?e=1527534000&v=alpha&t=WCl5pwfL9ChyPq_CnjT9SkctwTe9bP_XzC_X9acc_6o"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:customer-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 5640099,
  login: "uri.sarid",
  fullName: "Uri Sarid",
  email: "uri.sarid@mulesoft.com",
  gender: "male",
  birthday: "1984-12-14",
  address: {
    country: "USA",
    state: "CA",
    city: "San Francisco",
    street_address: "77 Geary St",
    zip: 94108
  },
  avatar: {
    id: 4323,
    url: "https://media.licdn.com/dms/image/C4D03AQHouKvD9PVzLA/profile-displayphoto-shrink_200_200/0?e=1527534000&v=alpha&t=WCl5pwfL9ChyPq_CnjT9SkctwTe9bP_XzC_X9acc_6o"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\buyingStyles:customer-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ba702a09-1f9b-4e88-b332-15d9858c2fc2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  "I'm a bargain hunter", 
  "I seek out high-quality items", 
  "I prefer the latest and greatest innovations"
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
