connect2018/hybris-ordering-app/src/main/mule/sap-hybris-order-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="sap-hybris-order-api-httpsListenerConfig" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="sap-hybris-order-api-config" raml="sap-hybris-order-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <global-property doc:name="Global Property" doc:id="3c22dc03-8931-4593-bc72-912847c3fd2f" name="https.port" value="8082" />
	<global-property doc:name="Global Property" doc:id="dfdbae2a-556d-478e-88a5-e898fb037aa4" name="api.proxy" value="devportal.yaas.io"/>
	<flow name="sap-hybris-order-api-main">
        <http:listener config-ref="sap-hybris-order-api-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sap-hybris-order-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sap-hybris-order-api-console">
        <http:listener config-ref="sap-hybris-order-api-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sap-hybris-order-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\(tenant)\salesorders\(orderId):application\json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\(tenant)\salesorders\(orderId):sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\(tenant)\salesorders\(orderId):application\json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\(tenant)\salesorders\(orderId):application\merge-patch+json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\(tenant)\orders:sap-hybris-order-api-config">
		<ee:transform doc:name="Transform Message" doc:id="69cc9ca8-ec53-4705-be08-fab3edf94707" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
    {
        "id": "3345001",
        "metadata": {},
        "mixins": {},
        "created": "2014-03-31T10:18:21.134Z",
        "completed": "2014-04-15T10:18:21.134Z",
        "lastStatusChange": "2014-04-15T10:18:21.134Z",
        "status": "SHIPPED",
        "siteCode": "USA",
        "entries": [
            {
                "id": "7890002",
                "amount": 1,
                "originalAmount": 40.90,
                "unitPrice": 40.90,
                "totalPrice": 40.90,
                "link": "",
                "product": {
                    "description": "This 400-lumen (max. setting) lantern can be charged three ways: from the sun using Goal Zero solar panels (not included), from USB or manually with the hand crank built into the top. Full charge lasts up to 48 hours on the Li-NMC battery.",
                    "name": "Goal Zero Lighthouse 400",
                    "sku": "Lantern",
                    "published": true,
                    "images": [
                        {
                            "id": "8540002",
                            "url": "https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTcg1_pBwGoE4XItBXqfhkq8sqCkoBs6ZLKX1JQv9gOxl3M-2vlHF-VX6j-SEMWnOPTuzLQ0VPV&usqp=CAY"
                        }
                    ]
                },
                "variant": {
                    "id": "0",
                    "name": "0",
                    "code": "0",
                    "images": [
                        {
                            "id": "",
                            "url": ""
                        }
                    ],
                    "options": {
                        "mug": {
                            "color": "",
                            "size": ""
                        }
                    },
                    "mixins": {
                        "additionalVariantCode": {
                            "code": ""
                        }
                    }
                }
            }
        ],
        "discounts": [],
        "customer": {
            "id": "5640099",
            "title": "",
            "name": "Uri Sarid",
            "firstName": "Uri",
            "lastName": "Sarid",
            "email": "uri.sarid@mulesoft.com",
            "company": "Mulesoft"
        },
        "billingAddress": {
            "contactName": "Uri Sarid",
            "street": "Geary St",
            "streetNumber": "77",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "US",
            "zipCode": "94108",
            "contactPhone": ""
        },
        "shippingAddress": {
            "contactName": "",
            "companyName": "Cargo Services Airfreight",
            "street": "Mason Street",
            "streetNumber": "610",
            "zipCode": "94129",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "USA"
        },
        "subTotalPrice": 69.95,
        "totalPrice": 69.95,
        "currency": "USD",
        "payments": [
            {
                "status": "SUCCESS",
                "method": "STRIPE",
                "paymentResponse": "",
                "paidAmount": 69.95,
                "currency": "USD"
            }
        ],
        "tax": {
            "total": {
                "amount": 0,
                "currency": "USD",
                "inclusive": false
            },
            "lines": [
                {
                    "amount": 0,
                    "currency": "USD",
                    "sequenceId": 1,
                    "inclusive": false
                }
            ]
        },
        "shipping": {
            "total": {
                "amount": 0,
                "currency": "USD"
            },
            "lines": []
        },
        "shipments": []
    },
    {
        "id": "3345002",
        "metadata": {},
        "mixins": {},
        "created": "2014-03-31T10:18:21.134Z",
        "completed": "2014-04-15T10:18:21.134Z",
        "lastStatusChange": "2014-04-15T10:18:21.134Z",
        "status": "CONFIRMED",
        "siteCode": "USA",
        "entries": [
            {
                "id": "7890001",
                "amount": 3,
                "originalAmount": 47.95,
                "unitPrice": 47.95,
                "totalPrice": 143.85,
                "link": "",
                "product": {
                    "description": "Made from the same warm material as the adult size for backpacking and family camping, Eureka's Cyprus Junior is a three-season sleeping bag with toasty ThermaShield insulation that's temperature rated at 15°F. The boy-specific junior size and fit reduces unnecessary weight and bulk while on the trail.",
                    "name": "Eureka Cypress Sleeping Bag",
                    "sku": "Sleeping Bags",
                    "published": true,
                    "images": [
                        {
                            "id": "8540001",
                            "url": "https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSzTFAyV9Trgw3J3gmxL0unF0f1JTFmU1YBXsSnhB47xVbxxuBf3WzDerHeqM97Vfg0leKvu0i4&usqp=CAY"
                        }
                    ]
                },
                "variant": {
                    "id": "0",
                    "name": "0",
                    "code": "0",
                    "images": [
                        {
                            "id": "",
                            "url": ""
                        }
                    ],
                    "options": {
                        "mug": {
                            "color": "",
                            "size": ""
                        }
                    },
                    "mixins": {
                        "additionalVariantCode": {
                            "code": ""
                        }
                    }
                }
            }
        ],
        "discounts": [],
        "customer": {
            "id": "5640099",
            "title": "",
            "name": "Uri Sarid",
            "firstName": "Uri",
            "lastName": "Sarid",
            "email": "uri.sarid@mulesoft.com",
            "company": "Mulesoft"
        },
        "billingAddress": {
            "contactName": "Uri Sarid",
            "street": "Geary St",
            "streetNumber": "77",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "US",
            "zipCode": "94108",
            "contactPhone": ""
        },
        "shippingAddress": {
            "contactName": "",
            "companyName": "Cargo Services Airfreight",
            "street": "Mason Street",
            "streetNumber": "610",
            "zipCode": "94129",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "USA"
        },
        "subTotalPrice": 143.85,
        "totalPrice": 143.85,
        "currency": "USD",
        "payments": [
            {
                "status": "SUCCESS",
                "method": "STRIPE",
                "paymentResponse": "",
                "paidAmount": 143.85,
                "currency": "USD"
            }
        ],
        "tax": {
            "total": {
                "amount": 0,
                "currency": "USD",
                "inclusive": false
            },
            "lines": [
                {
                    "amount": 0,
                    "currency": "USD",
                    "sequenceId": 1,
                    "inclusive": false
                }
            ]
        },
        "shipping": {
            "total": {
                "amount": 0,
                "currency": "USD"
            },
            "lines": []
        },
        "shipments": []
    },
    {
        "id": "3345003",
        "metadata": {},
        "mixins": {},
        "created": "2014-03-31T10:18:21.134Z",
        "completed": "2014-04-15T10:18:21.134Z",
        "lastStatusChange": "2014-04-15T10:18:21.134Z",
        "status": "COMPLETED",
        "siteCode": "USA",
        "entries": [
            {
                "id": "7890003",
                "amount": 1,
                "originalAmount": 199.95,
                "unitPrice": 199.95,
                "totalPrice": 199.95,
                "link": "",
                "product": {
                    "description": "This 400-lumen (max. setting) lantern can be charged three ways: from the sun using Goal Zero solar panels (not included), from USB or manually with the hand crank built into the top. Full charge lasts up to 48 hours on the Li-NMC battery.",
                    "name": "Goal Zero Yeti 150 Solar Generator External Battery Pack/Power Inverter",
                    "sku": "Battery",
                    "published": true,
                    "images": [
                        {
                            "id": "8540003",
                            "url": "https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTqPH1wK0UGXcI55H1rSwKukYH4_AfAU40OH_noVqt4M_E95UTOyZvkdAvMYE_tNfeV-c3Cao8&usqp=CAE"
                        }
                    ]
                },
                "variant": {
                    "id": "0",
                    "name": "0",
                    "code": "0",
                    "images": [
                        {
                            "id": "",
                            "url": ""
                        }
                    ],
                    "options": {
                        "mug": {
                            "color": "",
                            "size": ""
                        }
                    },
                    "mixins": {
                        "additionalVariantCode": {
                            "code": ""
                        }
                    }
                }
            }
        ],
        "discounts": [],
        "customer": {
            "id": "5640099",
            "title": "",
            "name": "Uri Sarid",
            "firstName": "Uri",
            "lastName": "Sarid",
            "email": "uri.sarid@mulesoft.com",
            "company": "Mulesoft"
        },
        "billingAddress": {
            "contactName": "Uri Sarid",
            "street": "Geary St",
            "streetNumber": "77",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "US",
            "zipCode": "94108",
            "contactPhone": ""
        },
        "shippingAddress": {
            "contactName": "",
            "companyName": "Cargo Services Airfreight",
            "street": "Mason Street",
            "streetNumber": "610",
            "zipCode": "94129",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "USA"
        },
        "subTotalPrice": 199.95,
        "totalPrice": 199.95,
        "currency": "USD",
        "payments": [
            {
                "status": "SUCCESS",
                "method": "STRIPE",
                "paymentResponse": "",
                "paidAmount": 199.95,
                "currency": "USD"
            }
        ],
        "tax": {
            "total": {
                "amount": 0,
                "currency": "USD",
                "inclusive": false
            },
            "lines": [
                {
                    "amount": 0,
                    "currency": "USD",
                    "sequenceId": 1,
                    "inclusive": false
                }
            ]
        },
        "shipping": {
            "total": {
                "amount": 0,
                "currency": "USD"
            },
            "lines": []
        },
        "shipments": []
    }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\(tenant)\orders\(orderId):sap-hybris-order-api-config">
        <logger level="INFO" doc:id="11a6baff-bc36-46bf-8c82-7018e57b4680" message="#[attributes.uriParams]" doc:name="Logger"/>
		<set-variable value="#[attributes.uriParams.orderId]" doc:name="Set orderID" doc:id="4f1f2979-b6a6-464e-88dc-24feb2778e17" variableName="orderId"/>
		<flow-ref doc:name="select-order" doc:id="8179900f-5e9e-48da-b323-5b9e86d9aa6c" name="select-order"/>
        
    </flow>
    <flow name="select-order" doc:id="684b3a0d-e208-4618-a66c-af7e24a5423f" >
		<choice doc:name="Choice" doc:id="b42f2a6c-12af-4677-a3e9-eb5c42a43310">
            <when expression="#[vars.orderId == '3345001']">
                <ee:transform doc:name="Order 3345001" doc:id="ac26e6d3-4a3f-4451-94cb-02113fc4853d">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
        "id": "3345001",
        "metadata": {},
        "mixins": {},
        "created": "2014-03-31T10:18:21.134Z",
        "completed": "2014-04-15T10:18:21.134Z",
        "lastStatusChange": "2014-04-15T10:18:21.134Z",
        "status": "SHIPPED",
        "siteCode": "USA",
        "entries": [
            {
                "id": "7890002",
                "amount": 1,
                "originalAmount": 40.90,
                "unitPrice": 40.90,
                "totalPrice": 40.90,
                "link": "",
                "product": {
                    "description": "This 400-lumen (max. setting) lantern can be charged three ways: from the sun using Goal Zero solar panels (not included), from USB or manually with the hand crank built into the top. Full charge lasts up to 48 hours on the Li-NMC battery.",
                    "name": "Goal Zero Lighthouse 400",
                    "sku": "Lantern",
                    "published": true,
                    "images": [
                        {
                            "id": "8540002",
                            "url": "https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTcg1_pBwGoE4XItBXqfhkq8sqCkoBs6ZLKX1JQv9gOxl3M-2vlHF-VX6j-SEMWnOPTuzLQ0VPV&usqp=CAY"
                        }
                    ]
                },
                "variant": {
                    "id": "0",
                    "name": "0",
                    "code": "0",
                    "images": [
                        {
                            "id": "",
                            "url": ""
                        }
                    ],
                    "options": {
                        "mug": {
                            "color": "",
                            "size": ""
                        }
                    },
                    "mixins": {
                        "additionalVariantCode": {
                            "code": ""
                        }
                    }
                }
            }
        ],
        "discounts": [],
        "customer": {
            "id": "5640099",
            "title": "",
            "name": "Uri Sarid",
            "firstName": "Uri",
            "lastName": "Sarid",
            "email": "uri.sarid@mulesoft.com",
            "company": "Mulesoft"
        },
        "billingAddress": {
            "contactName": "Uri Sarid",
            "street": "Geary St",
            "streetNumber": "77",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "US",
            "zipCode": "94108",
            "contactPhone": ""
        },
        "shippingAddress": {
            "contactName": "",
            "companyName": "Cargo Services Airfreight",
            "street": "Mason Street",
            "streetNumber": "610",
            "zipCode": "94129",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "USA"
        },
        "subTotalPrice": 69.95,
        "totalPrice": 69.95,
        "currency": "USD",
        "payments": [
            {
                "status": "SUCCESS",
                "method": "STRIPE",
                "paymentResponse": "",
                "paidAmount": 69.95,
                "currency": "USD"
            }
        ],
        "tax": {
            "total": {
                "amount": 0,
                "currency": "USD",
                "inclusive": false
            },
            "lines": [
                {
                    "amount": 0,
                    "currency": "USD",
                    "sequenceId": 1,
                    "inclusive": false
                }
            ]
        },
        "shipping": {
            "total": {
                "amount": 0,
                "currency": "USD"
            },
            "lines": []
        },
        "shipments": []
    }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[vars.orderId == '3345002']">
                <ee:transform doc:name="Order 3345002" doc:id="a82b6f23-308e-4241-b810-90517a459b41">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
        "id": "3345002",
        "metadata": {},
        "mixins": {},
        "created": "2014-03-31T10:18:21.134Z",
        "completed": "2014-04-15T10:18:21.134Z",
        "lastStatusChange": "2014-04-15T10:18:21.134Z",
        "status": "CONFIRMED",
        "siteCode": "USA",
        "entries": [
            {
                "id": "7890001",
                "amount": 3,
                "originalAmount": 47.95,
                "unitPrice": 47.95,
                "totalPrice": 143.85,
                "link": "",
                "product": {
                    "description": "Made from the same warm material as the adult size for backpacking and family camping, Eureka's Cyprus Junior is a three-season sleeping bag with toasty ThermaShield insulation that's temperature rated at 15°F. The boy-specific junior size and fit reduces unnecessary weight and bulk while on the trail.",
                    "name": "Eureka Cypress Sleeping Bag",
                    "sku": "Sleeping Bags",
                    "published": true,
                    "images": [
                        {
                            "id": "8540001",
                            "url": "https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSzTFAyV9Trgw3J3gmxL0unF0f1JTFmU1YBXsSnhB47xVbxxuBf3WzDerHeqM97Vfg0leKvu0i4&usqp=CAY"
                        }
                    ]
                },
                "variant": {
                    "id": "0",
                    "name": "0",
                    "code": "0",
                    "images": [
                        {
                            "id": "",
                            "url": ""
                        }
                    ],
                    "options": {
                        "mug": {
                            "color": "",
                            "size": ""
                        }
                    },
                    "mixins": {
                        "additionalVariantCode": {
                            "code": ""
                        }
                    }
                }
            }
        ],
        "discounts": [],
        "customer": {
            "id": "5640099",
            "title": "",
            "name": "Uri Sarid",
            "firstName": "Uri",
            "lastName": "Sarid",
            "email": "uri.sarid@mulesoft.com",
            "company": "Mulesoft"
        },
        "billingAddress": {
            "contactName": "Uri Sarid",
            "street": "Geary St",
            "streetNumber": "77",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "US",
            "zipCode": "94108",
            "contactPhone": ""
        },
        "shippingAddress": {
            "contactName": "",
            "companyName": "Cargo Services Airfreight",
            "street": "Mason Street",
            "streetNumber": "610",
            "zipCode": "94129",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "USA"
        },
        "subTotalPrice": 143.85,
        "totalPrice": 143.85,
        "currency": "USD",
        "payments": [
            {
                "status": "SUCCESS",
                "method": "STRIPE",
                "paymentResponse": "",
                "paidAmount": 143.85,
                "currency": "USD"
            }
        ],
        "tax": {
            "total": {
                "amount": 0,
                "currency": "USD",
                "inclusive": false
            },
            "lines": [
                {
                    "amount": 0,
                    "currency": "USD",
                    "sequenceId": 1,
                    "inclusive": false
                }
            ]
        },
        "shipping": {
            "total": {
                "amount": 0,
                "currency": "USD"
            },
            "lines": []
        },
        "shipments": []
    }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[vars.orderId == '3345003']">
                <ee:transform doc:name="Order 3345003" doc:id="a7bc28cf-1736-4d77-b614-8b7b54f63e27">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
        "id": "3345003",
        "metadata": {},
        "mixins": {},
        "created": "2014-03-31T10:18:21.134Z",
        "completed": "2014-04-15T10:18:21.134Z",
        "lastStatusChange": "2014-04-15T10:18:21.134Z",
        "status": "COMPLETED",
        "siteCode": "USA",
        "entries": [
            {
                "id": "7890003",
                "amount": 1,
                "originalAmount": 199.95,
                "unitPrice": 199.95,
                "totalPrice": 199.95,
                "link": "",
                "product": {
                    "description": "This 400-lumen (max. setting) lantern can be charged three ways: from the sun using Goal Zero solar panels (not included), from USB or manually with the hand crank built into the top. Full charge lasts up to 48 hours on the Li-NMC battery.",
                    "name": "Goal Zero Yeti 150 Solar Generator External Battery Pack/Power Inverter",
                    "sku": "Battery",
                    "published": true,
                    "images": [
                        {
                            "id": "8540003",
                            "url": "https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTqPH1wK0UGXcI55H1rSwKukYH4_AfAU40OH_noVqt4M_E95UTOyZvkdAvMYE_tNfeV-c3Cao8&usqp=CAE"
                        }
                    ]
                },
                "variant": {
                    "id": "0",
                    "name": "0",
                    "code": "0",
                    "images": [
                        {
                            "id": "",
                            "url": ""
                        }
                    ],
                    "options": {
                        "mug": {
                            "color": "",
                            "size": ""
                        }
                    },
                    "mixins": {
                        "additionalVariantCode": {
                            "code": ""
                        }
                    }
                }
            }
        ],
        "discounts": [],
        "customer": {
            "id": "5640099",
            "title": "",
            "name": "Uri Sarid",
            "firstName": "Uri",
            "lastName": "Sarid",
            "email": "uri.sarid@mulesoft.com",
            "company": "Mulesoft"
        },
        "billingAddress": {
            "contactName": "Uri Sarid",
            "street": "Geary St",
            "streetNumber": "77",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "US",
            "zipCode": "94108",
            "contactPhone": ""
        },
        "shippingAddress": {
            "contactName": "",
            "companyName": "Cargo Services Airfreight",
            "street": "Mason Street",
            "streetNumber": "610",
            "zipCode": "94129",
            "city": "San Francisco",
            "state": "CALIFORNIA",
            "country": "USA"
        },
        "subTotalPrice": 199.95,
        "totalPrice": 199.95,
        "currency": "USD",
        "payments": [
            {
                "status": "SUCCESS",
                "method": "STRIPE",
                "paymentResponse": "",
                "paidAmount": 199.95,
                "currency": "USD"
            }
        ],
        "tax": {
            "total": {
                "amount": 0,
                "currency": "USD",
                "inclusive": false
            },
            "lines": [
                {
                    "amount": 0,
                    "currency": "USD",
                    "sequenceId": 1,
                    "inclusive": false
                }
            ]
        },
        "shipping": {
            "total": {
                "amount": 0,
                "currency": "USD"
            },
            "lines": []
        },
        "shipments": []
    }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
			<otherwise>
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="fb36a39f-554c-4841-bdd1-84e0fcdec6f6" doc:name="Order not found">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
					</ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
	</flow>
	<flow name="get:\(tenant)\orders\(orderId)\transitions:sap-hybris-order-api-config">
                <logger level="INFO" doc:id="11a6baff-bc36-46bf-8c82-7018e57b4680" message="#[attributes.uriParams]" doc:name="Logger"/>
        <set-variable value="#[attributes.uriParams.orderId]" doc:name="Set orderID" doc:id="c5013ad5-3516-49bb-806f-a986566c32d8" variableName="orderId"/>
        
        <flow-ref doc:name="select-order" doc:id="f94ae768-d884-45c2-8772-792a1b8ead1e" name="select-order"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="42330c25-be91-41b5-a24b-d95066eb2d71">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    status: payload.status default ""
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\(tenant)\salesorders:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "orderId123456",
    metadata: {
      mixins: {
        additionalCode: "https://\${api.proxy}/hybris/schema/v1/kiwistest/example-schema.json"
      }
    },
    mixins: {
      additionalCode: {
        code: "DFG-334-98330-X"
      }
    },
    created: "2014-03-31T10:18:21.134Z",
    completed: "2014-04-15T10:18:21.134Z",
    status: "COMPLETED",
    siteCode: "Germany",
    channel: {
      name: "Pinterest",
      source: "https://www.pinterest.com/pin/123456"
    },
    entries: [
      {
        id: "1234546",
        amount: 2,
        originalAmount: 450,
        unitPrice: 420,
        totalPrice: 840,
        link: "https://\${api.proxy}/hybris/product/v2/products/MUG",
        product: {
          description: "A mug you've always wanted !",
          name: "Mug",
          sku: "mug-product",
          published: true,
          images: [
            {
              id: "media123456",
              url: "https://\${api.proxy}/hybris/product/v2/media/media123456?tenantInfo"
            }
          ]
        },
        variant: {
          id: "438954845899094",
          name: "Black Small YaaS Mug",
          code: "yaas-mug-black-small",
          images: [
            {
              id: "12345678",
              url: "https://\${api.proxy}/hybris/product/v2/media/12345678?tenantInfo"
            }
          ],
          options: {
            mug: {
              color: "black",
              size: "small"
            }
          },
          mixins: {
            additionalVariantCode: {
              code: "variant code"
            }
          }
        }
      }, 
      {
        id: "1234547",
        amount: 5,
        originalAmount: 250,
        unitPrice: 240,
        totalPrice: 1200,
        product: {
          metadata: {
            mixins: {
              color: "https://\${api.proxy}/hybris/schema/v1/kiwistest/color_v1.json"
            }
          },
          description: "A Shirt you've always wanted !",
          name: "Shirt",
          sku: "shirt-product",
          published: true,
          images: [
            {
              id: "media1234567",
              url: "https://\${api.proxy}/hybris/product/v2/media/media1234567?tenantInfo"
            }
          ],
          mixins: {
            color: {
              red: 234,
              green: 231,
              blue: 123
            }
          }
        },
        variant: {
          id: "968954845899234",
          name: "Black Small YaaS T-Shirt",
          code: "yaas-t-shirt-black-small",
          images: [
            {
              id: "12345679",
              url: "https://\${api.proxy}/hybris/product/v2/media/12345679?tenantInfo"
            }
          ],
          options: {
            tshirt: {
              color: "black",
              size: "small"
            }
          },
          mixins: {
            additionalVariantCode: {
              code: "variant code"
            }
          }
        }
      }
    ],
    discounts: [
      {
        code: "SUMMER_SALE",
        name: "Summer Sale 10% off everything",
        amount: 204,
        currency: "USD",
        discountRate: 10,
        sequenceId: 1,
        link: {
          id: "B2TD3JM",
          "type": "y-coupon",
          url: "https://\${api.proxy}/hybris/coupon/v1/coupons/B2TD3JM"
        }
      }
    ],
    customer: {
      id: "C1234567890",
      title: "Dr.",
      name: "Example Buyer",
      firstName: "Example",
      lastName: "Buyer",
      email: "noreply@yaastest.com",
      company: "hybris"
    },
    billingAddress: {
      contactName: "Example Buyer",
      street: "Nymphenburger Str.",
      streetNumber: "86",
      city: "Munich",
      state: "Bavaria",
      country: "Germany",
      zipCode: "132 45",
      contactPhone: "+49 1111 222 333"
    },
    shippingAddress: {
      contactName: "Joe Smith",
      companyName: "Cargo Services Airfreight",
      street: "Cheng Xiang Zhen Guan Tang Lu",
      streetNumber: "1031",
      extraLine1: "No. 2058",
      extraLine2: "Suzhou City",
      zipCode: "201202",
      city: "Taicang City",
      state: "Jiangsu Province",
      country: "CN",
      contactPhone: "+86 182 9349 4663",
      metadata: {
        mixins: {
          secondaryContactPhone: "https://\${api.proxy}/hybris/schema/v1/kiwistest/contact-number.json"
        }
      },
      mixins: {
        secondaryContactPhone: {
          number: "+86 334 0033 9934"
        }
      }
    },
    subTotalPrice: 1881,
    totalPrice: 2041,
    currency: "USD",
    payments: [
      {
        status: "SUCCESS",
        method: "STRIPE",
        paymentResponse: "",
        paidAmount: 2041,
        currency: "USD"
      }
    ],
    tax: {
      total: {
        amount: 150,
        currency: "USD"
      },
      lines: [
        {
          amount: 150,
          currency: "USD",
          code: "VAT",
          name: "Regular VAT",
          rate: 10,
          taxable: 1500,
          sequenceId: 1,
          inclusive: false
        }
      ]
    },
    shipping: {
      total: {
        amount: 10,
        currency: "USD"
      },
      lines: [
        {
          amount: 10,
          currency: "USD",
          code: "dhlstd",
          name: "DHL Standard"
        }
      ]
    },
    shipments: [
      {
        trackingNumber: "123987456",
        carrier: "UPS",
        shippedDate: "2016-06-25T16:22:52.966Z",
        expectDeliveryOn: "2016-06-27"
      }
    ]
  }, 
  {
    id: "orderId123457",
    created: "2015-02-11T03:12:33.345Z",
    status: "CREATED",
    siteCode: "Germany",
    channel: {
      name: "Twitter",
      source: "https://twitter.com/hybriskiwis/status/707599225782214656"
    },
    entries: [
      {
        metadata: {
          mixins: {
            additionalCode: "https://\${api.proxy}/hybris/schema/v1/kiwistest/example-schema.json"
          }
        },
        id: "1234546",
        amount: 1,
        unitPrice: 420,
        totalPrice: 420,
        link: "https://\${api.proxy}/hybris/product/v2/products/MUG",
        product: {
          description: "A mug you've always wanted !",
          name: "Mug",
          sku: "mug-product",
          published: true,
          images: [
            {
              id: "media123456",
              url: "https://\${api.proxy}/hybris/product/v2/media/media123456?tenantInfo"
            }
          ]
        },
        mixins: {
          additionalCode: {
            code: "ABC"
          }
        }
      }
    ],
    customer: {
      id: "C1234567890",
      title: "Dr.",
      name: "Example Buyer",
      firstName: "Example",
      lastName: "Buyer",
      email: "noreply@yaastest.com",
      company: "hybris",
      metadata: {
        mixins: {
          work_phone: "https://\${api.proxy}/hybris/schema/v1/kiwistest/contact-number.json"
        }
      },
      mixins: {
        work_phone: {
          number: "+86 334 0033 9934"
        }
      }
    },
    billingAddress: {
      contactName: "Example Buyer",
      street: "Nymphenburger Str.",
      streetNumber: "86",
      city: "Munich",
      state: "Bavaria",
      country: "DE",
      zipCode: "132 45",
      contactPhone: "+49 1111 222 333"
    },
    shippingAddress: {
      contactName: "Joe Smith",
      companyName: "Cargo Services Airfreight",
      street: "Cheng Xiang Zhen Guan Tang Lu",
      streetNumber: "1031",
      extraLine1: "No. 2058",
      extraLine2: "Suzhou City",
      zipCode: "201202",
      city: "Taicang City",
      state: "Jiangsu Province",
      country: "CN",
      contactPhone: "+86 182 9349 4663",
      metadata: {
        mixins: {
          secondaryContactPhone: "https://\${api.proxy}/hybris/schema/v1/kiwistest/contact-number.json"
        }
      },
      mixins: {
        secondaryContactPhone: {
          number: "+86 334 0033 9934"
        }
      }
    },
    totalPrice: 420,
    currency: "USD"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\(tenant)\salesorders\(orderId):sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "orderId123456",
  metadata: {
    mixins: {
      additionalCode: "https://\${api.proxy}/hybris/schema/v1/kiwistest/example-schema.json"
    }
  },
  mixins: {
    additionalCode: {
      code: "DFG-334-98330-X"
    }
  },
  created: "2014-03-31T10:18:21.134Z",
  completed: "2014-04-15T10:18:21.134Z",
  status: "COMPLETED",
  entries: [
    {
      metadata: {
        mixins: {
          additionalCode: "https://\${api.proxy}/hybris/schema/v1/kiwistest/example-schema.json"
        }
      },
      id: "1234546",
      amount: 2,
      originalAmount: 450,
      unitPrice: 420,
      totalPrice: 840,
      link: "https://\${api.proxy}/hybris/product/v2/products/MUG",
      product: {
        description: "A mug you've always wanted !",
        name: "Mug",
        sku: "mug-product",
        published: true,
        images: [
          {
            id: "media123456",
            url: "https://\${api.proxy}/hybris/product/v2/media/media123456?tenantInfo"
          }
        ]
      },
      variant: {
        id: "438954845899094",
        name: "Black Small YaaS Mug",
        code: "yaas-mug-black-small",
        images: [
          {
            id: "12345678",
            url: "https://\${api.proxy}/hybris/product/v2/media/12345678?tenantInfo"
          }
        ],
        options: {
          mug: {
            color: "black",
            size: "small"
          }
        },
        mixins: {
          additionalVariantCode: {
            code: "variant code"
          }
        }
      },
      mixins: {
        additionalCode: {
          code: "ABC"
        }
      }
    }, 
    {
      id: "1234547",
      amount: 5,
      originalAmount: 250,
      unitPrice: 240,
      totalPrice: 1200,
      product: {
        metadata: {
          mixins: {
            color: "https://\${api.proxy}/hybris/schema/v1/kiwistest/color_v1.json"
          }
        },
        description: "A Shirt you've always wanted !",
        name: "Shirt",
        sku: "shirt-product",
        published: true,
        images: [
          {
            id: "media1234567",
            url: "https://\${api.proxy}/hybris/product/v2/media/media1234567?tenantInfo"
          }
        ],
        mixins: {
          color: {
            red: 234,
            green: 231,
            blue: 123
          }
        }
      },
      variant: {
        id: "968954845899234",
        name: "Black Small YaaS T-Shirt",
        code: "yaas-t-shirt-black-small",
        images: [
          {
            id: "12345679",
            url: "https://\${api.proxy}/hybris/product/v2/media/12345679?tenantInfo"
          }
        ],
        options: {
          tshirt: {
            color: "black",
            size: "small"
          }
        },
        mixins: {
          additionalVariantCode: {
            code: "variant code"
          }
        }
      }
    }, 
    {
      id: "1234548",
      amount: 1,
      unitPrice: 45,
      totalPrice: 45,
      measurementUnit: {
        value: 2,
        unit: "kg"
      },
      link: "https://\${api.proxy}/hybris/product/v2/products/VEGETABLE",
      product: {
        description: "Vegetables you've always wanted !",
        name: "Vegetables",
        sku: "vegetables-product",
        published: true,
        images: [
          {
            id: "media1234548",
            url: "https://\${api.proxy}/hybris/product/v2/media/media1234548?tenantInfo"
          }
        ]
      },
      variant: {
        id: "567954845899dee",
        name: "5kg pack Mexican Vegetable",
        code: "yaas-5kg-mexican-vegetable",
        images: [
          {
            id: "12345679",
            url: "https://\${api.proxy}/hybris/product/v2/media/12345679?tenantInfo"
          }
        ],
        options: {
          vegetable: {
            size: "5kg",
            "type": "mexican"
          }
        },
        mixins: {
          additionalVariantCode: {
            code: "variant code"
          }
        }
      }
    }
  ],
  discounts: [
    {
      code: "SUMMER_SALE",
      name: "Summer Sale 10% off everything",
      amount: 204,
      currency: "USD",
      discountRate: 10,
      sequenceId: 1,
      link: {
        id: "B2TD3JM",
        "type": "y-coupon",
        url: "https://\${api.proxy}/hybris/coupon/v1/coupons/B2TD3JM"
      }
    }
  ],
  customer: {
    id: "C1234567890",
    name: "Example Buyer",
    title: "Dr.",
    firstName: "Example",
    lastName: "Buyer",
    email: "noreply@yaastest.com",
    company: "hybris",
    metadata: {
      mixins: {
        work_phone: "https://\${api.proxy}/hybris/schema/v1/kiwistest/contact-number.json"
      }
    },
    mixins: {
      work_phone: {
        number: "+86 334 0033 9934"
      }
    }
  },
  siteCode: "Germany",
  channel: {
    name: "Twitter",
    source: "https://twitter.com/hybriskiwis/status/707599225782214656"
  },
  billingAddress: {
    contactName: "Example Buyer",
    street: "Nymphenburger Str.",
    streetNumber: "86",
    city: "Munich",
    state: "Bavaria",
    country: "DE",
    zipCode: "132 45",
    contactPhone: "+49 1111 222 333"
  },
  shippingAddress: {
    contactName: "Joe Smith",
    companyName: "Cargo Services Airfreight",
    street: "Cheng Xiang Zhen Guan Tang Lu",
    streetNumber: "1031",
    extraLine1: "No. 2058",
    extraLine2: "Suzhou City",
    zipCode: "201202",
    city: "Taicang City",
    state: "Jiangsu Province",
    country: "CN",
    contactPhone: "+86 182 9349 4663",
    metadata: {
      mixins: {
        secondaryContactPhone: "https://\${api.proxy}/hybris/schema/v1/kiwistest/contact-number.json"
      }
    },
    mixins: {
      secondaryContactPhone: {
        number: "+86 334 0033 9934"
      }
    }
  },
  subTotalPrice: 1881,
  totalPrice: 2041,
  currency: "USD",
  payments: [
    {
      status: "SUCCESS",
      method: "STRIPE",
      paymentResponse: "",
      paidAmount: 2041,
      currency: "USD"
    }
  ],
  tax: {
    total: {
      amount: 150,
      currency: "USD"
    },
    lines: [
      {
        amount: 150,
        currency: "USD",
        code: "VAT",
        name: "Regular VAT",
        rate: 10,
        taxable: 1500,
        sequenceId: 1,
        inclusive: false
      }
    ]
  },
  shipping: {
    total: {
      amount: 10,
      currency: "USD"
    },
    lines: [
      {
        amount: 10,
        currency: "USD",
        code: "dhlstd",
        name: "DHL Standard"
      }
    ]
  },
  shipments: [
    {
      trackingNumber: "123987456",
      carrier: "UPS",
      shippedDate: "2016-06-25T16:22:52.966Z",
      expectDeliveryOn: "2016-06-27"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\(tenant)\salesorders\(orderId)\transitions:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    status: "CONFIRMED"
  }, 
  {
    status: "DECLINED"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\(tenant)\orders:application\json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\(tenant)\orders\(orderId)\transitions:application\json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\(tenant)\salesorders:application\json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\(tenant)\salesorders\(orderId)\transitions:application\json:sap-hybris-order-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 401,
  message: "Authorization: Unauthorized. Bearer TOKEN is invalid",
  "type": "insufficient_credentials",
  moreInfo: "https://api.yaas.io/patterns/errortypes.html"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
