connect2018/social-recommendations-app/src/main/mule/social-recommendations-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="social-recommendations-api-httpsListenerConfig" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
            <tls:context>
                <tls:key-store type="jks" path="keystore.jks" keyPassword="password" password="password" />
            </tls:context>
        </http:listener-connection>
    </http:listener-config>
    <apikit:config name="social-recommendations-api-config" raml="social-recommendations-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="Router" disableValidations="true"/>
    <global-property doc:name="Global Property" doc:id="63d994eb-f3c6-4bbc-a4fa-8f389fb19946" name="https.port" value="8082" />
    <os:object-store name="ObjectStore" doc:name="Object store" doc:id="42b2a3da-c0f9-450d-bdbf-eb2e97e6f8f6" persistent="false" />
    <api-gateway:autodiscovery apiId="11383496" doc:name="API Autodiscovery" doc:id="aac9b3a2-0f31-4e16-bd23-38e90aa7b827" flowRef="social-recommendations-api-main" />
    <flow name="social-recommendations-api-main">
        <http:listener config-ref="social-recommendations-api-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="setting up vars to be accessed by all the flows" doc:id="e1d377ff-e092-4bfb-af06-7cb47b9e8bea">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="magicPASSWD"><![CDATA[%dw 2.0
output application/java
---
"astro and max"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="social-recommendations-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="social-recommendations-api-console">
        <http:listener config-ref="social-recommendations-api-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="social-recommendations-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\choices:application\json:social-recommendations-api-config">
        <choice doc:name="Choice" doc:id="1e3b4ca8-a5db-493d-80bb-c3c9e738608d">
            <when expression="#[attributes.headers.authorization == vars.magicPASSWD]">
                <flow-ref doc:name="putChoices-Sub_Flow" doc:id="9eb0351d-0bc5-40c0-a0c2-26683fc8d66a" name="putChoices-Sub_Flow" />
            </when>
            <otherwise>
                <ee:transform doc:name="Unauthorized" doc:id="a3102554-da03-45d1-b95c-62702d4df5f5">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="putChoices-Sub_Flow" doc:id="aad6ded1-c240-4465-9cb9-2e80eb097c76">
        <ee:transform doc:name="Transform Message" doc:id="68ea14ee-a82b-4851-a0e1-8bdf23087ed0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	artPieces: payload.artPieces
		default [
	                "http://3.bp.blogspot.com/_6QdxFZPFLoY/S2-Ocuy_c-I/AAAAAAAAAiw/C1eeBZmr_20/S760/Figura23.jpg"
	                ,"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfvDeYw3OqpVQNpYG3_qq6JsbJuoQ683CbSYbSUfROoV_84pLdvA"
	                ,"https://cdn.mensagenscomamor.com/content/images/p000005352.jpg?v=0"
	             ]
	,
	paintColors: payload.paintColors
		default [
	                "red", "green", "blue"
	            ]
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="payloadbkp"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <os:retrieve doc:name="Retrieve personalized info" key="personalized" objectStore="ObjectStore" target="personalized">
            <os:default-value><![CDATA[ZERO]]></os:default-value>
        </os:retrieve>
        <ee:transform doc:name="Transform Message" doc:id="08840303-e2e3-400b-a31c-536fe2d8e6c3">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="personalized"><![CDATA[%dw 2.0
output application/java
---
if (vars.personalized == 'ZERO')
	{
		personalized: false
	}
else
	vars.personalized]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <os:clear doc:name="Clear everything (AKA starts a new game)" doc:id="39c28f40-4b13-4c22-b4d3-ef0041203c7f" objectStore="ObjectStore" />
        <os:store doc:name="Store the new choices" doc:id="54dd4c3f-1070-4193-a430-173f9c88858d" key="choices" objectStore="ObjectStore" />
        <os:store doc:name="Storing personalized info" key="personalized" objectStore="ObjectStore">
            <os:value><![CDATA[#[vars.personalized]]]></os:value>
        </os:store>
        <ee:transform doc:name="Transform Message" doc:id="86576c77-6d82-46f9-b33c-e16f1ff7f296">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="artPieces"><![CDATA[%dw 2.0
output application/java
---
payload.artPieces default ["", "", ""]]]></ee:set-variable>
                <ee:set-variable variableName="paintColors"><![CDATA[%dw 2.0
output application/java
---
payload.paintColors default ["", "", ""]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <scripting:execute engine="groovy" doc:name="Execute" doc:id="9ecdfba0-365d-4c25-a796-6e1824b34b36" target="choicesArray">
            <scripting:code>def choicesArray = new com.mulesoft.social.ChoiceResult[vars.artPieces.size()][vars.paintColors.size()]</scripting:code>
        </scripting:execute>
        <foreach doc:name="For Each" doc:id="26f00203-008c-440c-9d2d-54a4062b157e" collection="#[vars.artPieces]">
            <ee:transform doc:name="Transform Message" doc:id="a13f64af-ad67-4c35-b564-c80cd5a250ef">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="artPiece"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
                    <ee:set-variable variableName="index"><![CDATA[%dw 2.0
output application/java
---
vars.counter]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <foreach doc:name="For Each" doc:id="36579c25-c1de-4aac-8119-117a0c3b0c88" collection="#[vars.paintColors]">
                <ee:transform doc:name="Transform Message" doc:id="69e8ec02-1044-4357-a71c-fd6abd11ed33">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="paintColor"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <java:new doc:name="New" doc:id="c0b7b8b8-c10f-4ff7-b31e-16de90f6502e" class="com.mulesoft.social.ChoiceResult" constructor="ChoiceResult()" target="choiceResult" />
                <scripting:execute doc:name="Execute" doc:id="109f5a41-6612-4e24-9829-bfc9a96ae19d" engine="groovy">
                    <scripting:code>vars.choiceResult.setArtPiece(vars.artPiece)
vars.choiceResult.setPaintColor(vars.paintColor)
vars.choiceResult.setCount(0)
vars.choicesArray[vars.index -1][vars.counter-1] = vars.choiceResult</scripting:code>
                </scripting:execute>
            </foreach>
        </foreach>
        <os:store doc:name="Store" doc:id="d34c9283-004a-4846-b90a-661e3c52bde5" key="choicesArray" objectStore="ObjectStore">
            <os:value><![CDATA[#[vars.choicesArray]]]></os:value>
        </os:store>
        <ee:transform doc:name="Transform Message" doc:id="2fe24cdf-575f-454e-9d2c-9c9335c523ac">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.payloadbkp]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <flow name="put:\recommendations:application\json:social-recommendations-api-config">
        <choice doc:name="Choice" doc:id="929037cd-30e9-4a2e-96ed-7a7fd9449b96">
            <when expression="#[attributes.headers.authorization == vars.magicPASSWD]">
                <flow-ref doc:name="putRecomendations-Sub_Flow" doc:id="ecd6824b-e3e0-4593-b482-02d963cd1ef6" name="putRecomendations-Sub_Flow" />
            </when>
            <otherwise>
                <ee:transform doc:name="Unauthorized" doc:id="81161568-8c40-4eb4-bf0d-ad569f6c697a">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="putRecomendations-Sub_Flow" doc:id="6d04c8db-2e68-45b7-92c6-f3c9c730b6f1">
        <ee:transform doc:name="Transform Message" doc:id="3bcf287f-926c-482d-899e-40de30f4af43">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.choices default {}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="recomendations"><![CDATA[%dw 2.0
output application/java
---
payload.recommendations]]></ee:set-variable>
                <ee:set-variable variableName="choices"><![CDATA[%dw 2.0
output application/java
---
payload.choices]]></ee:set-variable>
                <ee:set-variable variableName="payload_bkp_01"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="putChoices-Sub_Flow" doc:id="54695d28-5a7f-4b67-9573-4ba46dae023f" name="putChoices-Sub_Flow" />
        <ee:transform doc:name="Transform Message" doc:id="ef248f6b-cdea-4934-ae8c-6bd64135b869">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.recomendations default {}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <foreach doc:name="For Each" doc:id="e3b49177-5dbc-4945-b290-77e25cd3d63b" collection="payload">
            <flow-ref doc:name="post:\recommendations:social-recommendations-api-config" doc:id="296a9463-f75c-471f-8a26-7fb88cd10c45" name="post:\recommendations:social-recommendations-api-config" />
        </foreach>
        <os:store doc:name="Store the new choices" doc:id="e5518ca9-c150-469c-8872-1f5304ca9a7a" key="choicesArray" objectStore="ObjectStore">
            <os:value><![CDATA[#[vars.choicesArray]]]></os:value>
        </os:store>
        <ee:transform doc:name="Transform Message" doc:id="e933b495-9178-4f5c-90f6-becda67099fd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.payload_bkp_01]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>
    <flow name="get:\choices:social-recommendations-api-config">
        <os:retrieve doc:name="Retrieve choices from OS" doc:id="69972c13-704c-4e93-aa2f-09f2fe619f45" key="choices" objectStore="ObjectStore">
            <os:default-value><![CDATA[ZERO]]></os:default-value>
        </os:retrieve>
        <ee:transform doc:name="Transform byteArray to Json" doc:id="d27594c0-cb8e-4035-bc23-ab1dda9edc7f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload == "ZERO")
	{}
else
	payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Type": "application/json"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="get:\recommendations\summary:social-recommendations-api-config">
        <os:retrieve doc:name="Retrieve" doc:id="3aacd1f7-f15a-475d-8f19-65c9989d5015" key="choicesArray" objectStore="ObjectStore">
            <os:default-value><![CDATA[ZERO]]></os:default-value>
        </os:retrieve>
        <ee:transform doc:name="Transform to Json" doc:id="d27594c0-cb8e-4035-bc23-ab1dda9edc7f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload == "ZERO")
	{}
else
	payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Type": "application/json"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="post:\recommendations:social-recommendations-api-config">
        <os:retrieve doc:name="Retrieve blocked status" doc:id="7b06b806-af3b-432f-9bca-ed39cc9713d8" key="blocked" objectStore="ObjectStore" target="blockStatus">
			<os:default-value><![CDATA[ZERO]]></os:default-value>
		</os:retrieve>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7a2099b4-1a0f-4e93-95ee-92fde03d4efe">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="isBlocked" ><![CDATA[%dw 2.0
output application/java
---
if (vars.blockStatus == 'ZERO')
	true
else
	vars.blockStatus.blocked]]></ee:set-variable>
			</ee:variables>
        </ee:transform>

        <choice doc:name="Choice" doc:id="c84778bd-0b87-4f3b-8fce-30c60128137c" >
			<when expression="#[vars.isBlocked == false]" >
				<flow-ref doc:name="postRecommendationsSub_Flow" doc:id="d6f993b9-1428-49ad-baa2-e0b492d5caad" name="postRecommendationsSub_Flow" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="b7938cee-788b-4400-9a2b-af02d333abd2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	msg: "The voting session is blocked right at this moment."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <sub-flow name="postRecommendationsSub_Flow" doc:id="12d19a4b-400c-4054-886a-7e1f0b4d4bc1">
        <ee:transform doc:name="Transform Message" doc:id="f594df65-d592-4a4a-8189-f8c3c56e03c8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
                <ee:set-variable variableName="index"><![CDATA[%dw 2.0
output application/java
---
payload.choice]]></ee:set-variable>
                <ee:set-variable variableName="clientId"><![CDATA[%dw 2.0
output application/java
---
payload.clientId]]></ee:set-variable>
                <ee:set-variable variableName="payloadbkp"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <os:retrieve doc:name="getChoicesArray" doc:id="7b06b806-af3b-432f-9bca-ed39cc9713d8" key="choicesArray" objectStore="ObjectStore" target="choices">
            <os:default-value><![CDATA[ZERO]]></os:default-value>
        </os:retrieve>
        <choice doc:name="Choice" doc:id="cd2e80f3-dc38-4902-b118-8e638d37f681">
            <when expression="#[vars.choices == 'ZERO']">
                <ee:transform doc:name="Transform to Json" doc:id="d27594c0-cb8e-4035-bc23-ab1dda9edc7f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	msg: "Please, call PUT:/choices resource to set up the game before call this resource."
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Type": "application/json"
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <os:retrieve doc:name="Retrieve current recommendation for the clientId" doc:id="a958fed1-dd40-411d-bce2-5f848c93eca1" key="#[vars.clientId]" objectStore="ObjectStore" target="clientChoice">
                    <os:default-value><![CDATA[#[
			output application/java
			---
			""
]]]></os:default-value>
                </os:retrieve>
                <choice doc:name="Choice" doc:id="145b158b-78b4-45b9-9e76-331c431e512c">
                    <when expression="#[isEmpty(vars.clientChoice)]">
                        <logger level="INFO" doc:name="Logger" doc:id="478c2d72-8577-403a-bd56-843bba94bf44" />
                    </when>
                    <otherwise>
                        <scripting:execute engine="groovy" doc:name="Decrease the counter of old recommendation" doc:id="2ad563e1-3d27-49de-b8c5-025bf7e6da86">
                            <scripting:code>def choice = vars.choices[vars.clientChoice[0]][vars.clientChoice[1]]
choice.decreaseCounter()
choice.removeName(vars.clientId)</scripting:code>
                        </scripting:execute>
                    </otherwise>
                </choice>
                <scripting:execute doc:name="Increase the counter of the new recommendation" doc:id="2ad563e1-3d27-49de-b8c5-025bf7e6da86" engine="groovy">
                    <scripting:code>def choice = vars.choices[vars.index[0]][vars.index[1]]
choice.increaseCounter()
choice.addName(vars.clientId, vars.name)</scripting:code>
                </scripting:execute>
                <os:store doc:name="Store the current recommendation for the clientId " doc:id="e58ce00a-c8bf-4c5b-86a3-29ddeb6b1117" key="#[vars.clientId]" objectStore="ObjectStore">
                    <os:value><![CDATA[#[vars.index]]]></os:value>
                </os:store>
                <os:store doc:name="Store the recommendation Array back" doc:id="6a67e9c8-fde0-4625-ad6d-cb76aff4845f" key="choicesArray" objectStore="ObjectStore">
                    <os:value><![CDATA[#[vars.choices]]]></os:value>
                </os:store>
                <ee:transform doc:name="Transform Message" doc:id="2fe24cdf-575f-454e-9d2c-9c9335c523ac">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.payloadbkp]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
200]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>
    <flow name="get:\recommendations\summary\top:social-recommendations-api-config">
        <os:retrieve doc:name="getChoicesArray" doc:id="7b06b806-af3b-432f-9bca-ed39cc9713d8" key="choicesArray" objectStore="ObjectStore">
            <os:default-value><![CDATA[ZERO]]></os:default-value>
        </os:retrieve>
        <ee:transform doc:name="Transform Message" doc:id="4d1e4c25-afd1-4d16-bb5c-1ef84f16d5f4">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (payload != 'ZERO')
	payload
else
	payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <choice doc:name="Choice" doc:id="d5fd968e-d0e8-4bae-81f5-c9df8e48587c">
            <when expression="#[payload == 'ZERO']">
                <ee:transform doc:name="Transform Message" doc:id="8add58be-2156-40a2-9373-13aec8425ba6">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <scripting:execute engine="groovy" doc:name="Get the top recommendation" doc:id="2ad563e1-3d27-49de-b8c5-025bf7e6da86">
                    <scripting:code>com.mulesoft.social.Util.getTopRecommendation(payload)</scripting:code>
                </scripting:execute>
            </otherwise>
        </choice>
        <ee:transform doc:name="Transform to Json" doc:id="d27594c0-cb8e-4035-bc23-ab1dda9edc7f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload == "ZERO" or payload.count == 0)
	{}
else
	payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Type": "application/json"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="put:\status:application\json:social-recommendations-api-config">
        <choice doc:name="Choice" doc:id="a8f07320-c365-4bfa-934e-571e1d160288">
            <when expression="#[attributes.headers.authorization == vars.magicPASSWD]">
                <flow-ref doc:name="putStatusSub_Flow" doc:id="e596bddb-9c32-4a98-b19e-603cf3a96b56" name="putStatusSub_Flow" />
            </when>
            <otherwise>
                <ee:transform doc:name="Unauthorized" doc:id="81161568-8c40-4eb4-bf0d-ad569f6c697a">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="putStatusSub_Flow" doc:id="0f9cd8b6-1ed0-4bdc-bf81-c65db63107ba">
        <ee:transform doc:name="saving the payload" doc:id="7ae2203a-4d11-4353-a729-ba4217f83be0">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadbkp"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="f884de40-2449-43ee-b389-1b12975edc52">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	personalized: payload.personalized default false
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <os:store doc:name="Storing personalized info" doc:id="d34c9283-004a-4846-b90a-661e3c52bde5" key="personalized" objectStore="ObjectStore" />
        <ee:transform doc:name="Transform Message" doc:id="18dadbbd-2618-48a4-b3ee-c99608e8a3bc">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.payloadbkp]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>
    <flow name="get:\status:social-recommendations-api-config">
        <os:retrieve doc:name="Retrieve personalized info" doc:id="7b06b806-af3b-432f-9bca-ed39cc9713d8" key="personalized" objectStore="ObjectStore">
            <os:default-value><![CDATA[ZERO]]></os:default-value>
        </os:retrieve>
        <ee:transform doc:name="Transform Message" doc:id="0a3fdc26-5219-482d-a352-9ad15f9e6534">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload == 'ZERO')
	{
		personalized: false
	}
else
	payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\recommendations\block:application\json:social-recommendations-api-config">
		<choice doc:name="Choice" doc:id="81c19685-6e0c-4219-93d1-32e4bcb055cb" >
			<when expression="#[attributes.headers.authorization == vars.magicPASSWD]" >
				<flow-ref doc:name="putRecomendationsBlockSub_Flow" doc:id="e596bddb-9c32-4a98-b19e-603cf3a96b56" name="putRecomendationsBlockSub_Flow" />
			</when>
			<otherwise >
				<ee:transform doc:name="Unauthorized" doc:id="81161568-8c40-4eb4-bf0d-ad569f6c697a" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <sub-flow name="putRecomendationsBlockSub_Flow" doc:id="70029499-634a-4e3a-b704-925204f13b10" >
    <ee:transform doc:name="saving the payload" doc:id="7ae2203a-4d11-4353-a729-ba4217f83be0">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadbkp"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="f884de40-2449-43ee-b389-1b12975edc52">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	blocked: payload.blocked default false
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <os:store doc:name="Storing blocked status" doc:id="d34c9283-004a-4846-b90a-661e3c52bde5" key="blocked" objectStore="ObjectStore" />
        <ee:transform doc:name="Transform Message" doc:id="18dadbbd-2618-48a4-b3ee-c99608e8a3bc">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.payloadbkp]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>
	<flow name="get:\recommendations\block:social-recommendations-api-config">
        <os:retrieve doc:name="Retrieve blocked status" doc:id="7b06b806-af3b-432f-9bca-ed39cc9713d8" key="blocked" objectStore="ObjectStore">
			<os:default-value><![CDATA[ZERO]]></os:default-value>
		</os:retrieve>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7a2099b4-1a0f-4e93-95ee-92fde03d4efe">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload == 'ZERO')
	{
	  blocked: true
	}
else
	payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
