connect2018/product-finder/src/main/mule/product-finder.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:location-api="http://www.mulesoft.org/schema/mule/location-api" xmlns:inventory-api="http://www.mulesoft.org/schema/mule/inventory-api" xmlns:catalog-api="http://www.mulesoft.org/schema/mule/catalog-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/catalog-api http://www.mulesoft.org/schema/mule/catalog-api/current/mule-catalog-api.xsd
http://www.mulesoft.org/schema/mule/inventory-api http://www.mulesoft.org/schema/mule/inventory-api/current/mule-inventory-api.xsd
http://www.mulesoft.org/schema/mule/location-api http://www.mulesoft.org/schema/mule/location-api/current/mule-location-api.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="product-finder-httpsListenerConfig" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="product-finder-config" raml="product-finder.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="Router" />
    <catalog-api:config name="Catalog_API_Config" doc:name="Catalog API Config" doc:id="800befc8-2630-462e-90ac-0483b5085879" property_host="catalog-app.cloudhub.io" property_basePath="/api"/>
	<inventory-api:config name="Inventory_API_Config" doc:name="Inventory API Config" doc:id="847c7a1c-c341-4a2c-b518-388cac1b6834" property_basePath="/api" property_host="inventory-app.cloudhub.io"/>
	<location-api:config name="Location_API_Config" doc:name="Location API Config" doc:id="c46d46eb-1f4f-4465-be97-5680bc5e68b7" property_basePath="/api" property_host="locations-app.cloudhub.io"/>
	<global-property doc:name="Global Property" doc:id="9cfa0f01-f2b9-43d7-be82-001a11fc15b3" name="https.port" value="8082" />
	<flow name="product-finder-main">
        <http:listener config-ref="product-finder-httpsListenerConfig" path="/api/*" doc:name="Listener">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
		<apikit:router doc:id="e9fa7661-5501-4970-ab42-e2399a9c3aa7" doc:name="" config-ref="product-finder-config"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" doc:name="On Error Propagate" enableNotifications="true" logException="true">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="dc75e26d-1b2e-42c7-b4dc-fb3cda676f0a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="product-finder-console">
        <http:listener config-ref="product-finder-httpsListenerConfig" path="/console/*" doc:name="Listener">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console doc:id="c7a93bb5-59c4-4cac-8f39-3521b1688673" doc:name="" config-ref="product-finder-config"/>
		<error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\products:product-finder-config">
        <catalog-api:get-products doc:name="Get Catalog products" doc:id="dd575604-e2bc-485f-817f-e689bb34bdfd" config-ref="Catalog_API_Config"/>
		<java:new doc:name="New fullProductList {as an ArrayList}" doc:id="ddf1b6c1-4274-4d18-bb39-3ba272c49cfb" class="java.util.ArrayList" constructor="ArrayList()" target="fullProductList" />
        <foreach doc:name="For Each" doc:id="528aebdf-cc7e-4572-a91e-ab85e3e361e7" collection="payload">
            
            <ee:transform doc:name="build productID var" doc:id="e8d458c4-2495-4e35-9a40-020b74e2ece5" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="productID" ><![CDATA[%dw 2.0
output application/java
---
payload.id as Number]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="build_full_product_Flow" doc:id="15d0812c-2135-4c70-9d33-e8bfcebdb12a" name="build_full_product_Flow"/>
			<scripting:execute engine="groovy" doc:name="Execute" doc:id="0aa320fa-4386-46b0-88b3-3c7de94b5993">
                <scripting:code>vars.fullProductList.add(payload)</scripting:code>
            </scripting:execute>
        </foreach>
        <ee:transform doc:name="Transform Message" doc:id="41ea6efd-5dbe-43b0-96eb-865aecb65ef7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.fullProductList]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <sub-flow name="build_full_product_Flow" doc:id="97aaf00e-c810-40fe-928e-545bb21c31f1" >
		<catalog-api:get-product-by-product-id doc:name="Get product by product id" doc:id="c48f9187-6d05-4164-a84f-e60f9f47602c" product-id="#[vars.productID]" config-ref="Catalog_API_Config" target="productData" targetValue="#[payload as Object]" />
		<ee:transform doc:name="Transform Message" doc:id="2d346a3a-4338-43a4-9fc2-9ca1082b3b19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	id: vars.productData.id default 123
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<inventory-api:get-inventory-by-product-id doc:name="Get inventory by product id" doc:id="30edf8ad-7c79-4607-ad42-fa842aa8309e" config-ref="Inventory_API_Config" product-id="#[payload.id]" target="inventoryData" targetValue="#[payload as Object]" />
		<location-api:get-location-by-location-id doc:name="Get location by location id" doc:id="3eb44293-ceb9-4a8c-9d61-873f04809646" config-ref="Location_API_Config" location-id="#[vars.inventoryData.location_id]" target="locationData" targetValue="#[payload as Object]" />
		<ee:transform doc:name="Build complete product data" doc:id="e1976893-0663-41e8-bb31-7158d26c175d">
                <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	id: vars.productData.id,
	price: vars.productData.price,
	description: vars.productData.description,
	copy: vars.productData.copy,
	image: vars.productData.image,
	category: vars.productData.category,
	quantity: vars.inventoryData.quantity,
	location: vars.locationData
}]]></ee:set-payload>
			</ee:message>
                <ee:variables>
                </ee:variables>
            </ee:transform>
	</sub-flow>
	<flow name="post:\products:application\json:product-finder-config">
        <choice doc:name="Choice" doc:id="8225b14b-dbee-4006-a89d-00cd047537ae" >
			<when expression="#[payload == null or isEmpty(payload)]" >
				<set-payload value="{}" doc:name="There is no payload, so return a empty payload too..." doc:id="6a10351f-09fe-4925-9950-796f5533d743" mimeType="application/json" />
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="acc10087-b383-4e03-be9d-c487c3932866">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	price: payload.price,
	description: payload.description,
	copy: payload.copy,
	image: payload.image,
	category: payload.category,
	quantity: payload.quantity,
	location: payload.location
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="product" ><![CDATA[%dw 2.0
output application/java
---
{
	price: payload.price,
	description: payload.description,
	copy: payload.copy,
	image: payload.image,
	category: payload.category,
	quantity: payload.quantity,
	location: payload.location
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<catalog-api:create-product doc:name="Create product" doc:id="f54c89d5-e9ae-4168-988a-1451c619f376" config-ref="Catalog_API_Config"/>
				<ee:transform doc:name="Transform Message" doc:id="96f4760f-b6fc-4fed-83d3-50c8f10dbe2c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	price: payload.price,
	description: payload.description,
	copy: payload.copy,
	image: payload.image,
	category: vars.product.category,
	quantity: vars.product.quantity,
	location: vars.product.location
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\products\(product_id):product-finder-config">
		<ee:transform doc:name="build productID var" doc:id="7913e6f5-8035-4fa4-9092-4699855af2a8">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="productID"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.product_id as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="build_full_product_Flow" doc:id="00cb5c19-7683-427a-823c-cc8d2767d43a" name="build_full_product_Flow"/>
		<ee:transform doc:name="To Json response" doc:id="d9fb3a01-afd9-4ba3-9c41-ab059f1eb867" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\products\(product_id):product-finder-config">
        <logger level="INFO" message="delete:\products\(product_id):product-finder-config" />
    </flow>
    <flow name="patch:\products\(product_id):product-finder-config">
		<ee:transform doc:name="Transform Message" doc:id="ae8c673e-471f-4f5b-9098-27601173d47c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "id": 7890001,
    "price": {
      "value": 47.95,
      "currency": "USD"
    },
    "description": "Made from the same warm material as the adult size for backpacking and family camping, Eureka's Cyprus Junior is a three-season sleeping bag with toasty ThermaShield insulation that's temperature rated at 15°F. The boy-specific junior size and fit reduces unnecessary weight and bulk while on the trail.",
    "copy": "Eureka 15°F Cypress Junior Sleeping Bag - Mummy (for Boys) - Grey/Green ( )",
    "image": {
      "id": 8540001,
      "url": "https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSzTFAyV9Trgw3J3gmxL0unF0f1JTFmU1YBXsSnhB47xVbxxuBf3WzDerHeqM97Vfg0leKvu0i4&usqp=CAY"
    },
    "category": "Sleeping Bags",
    "quantity": 1010,
    "location": {
      "id": 8624,
      "addressType": "STORE",
      "country": "USA",
      "state": "CA",
      "city": "San Francisco",
      "street_address": "610 Old Mason Street",
      "zip": 94129
    }
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\products\price\(price):application\json:product-finder-config">
        <logger level="INFO" message="post:\products\price\(price):application\json:product-finder-config" />
    </flow>
</mule>
