connect2018/chat-app/src/main/mule/chat-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="chat-api-httpListenerConfig" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
            <tls:context>
                <tls:key-store type="jks" path="keystore.jks" keyPassword="password" password="password" />
            </tls:context>
        </http:listener-connection>
    </http:listener-config>
    <apikit:config name="chat-api-config" raml="chat-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="Router" disableValidations="true" />
    <os:object-store name="messages" doc:name="Object store" doc:id="5626fa3e-a428-4adf-ae73-60dedc78b33a" persistent="false" />
    <api-gateway:autodiscovery apiId="12625989" doc:name="API Autodiscovery" doc:id="d7dfa3ed-bf07-4dcd-9a0a-797c9255e198" flowRef="chat-api-main" />
    <global-property doc:name="Global Property" doc:id="dfc090d7-4f60-4840-979b-a67a10870aae" name="https.port" value="8082" />
    <http:request-config name="order-change-fullfilment" doc:name="HTTP Request configuration" doc:id="068263d4-cae6-4248-9665-922e0337707d" >
		<http:request-connection protocol="HTTPS" host="order-change-fullfilment.cloudhub.io" />
	</http:request-config>

    <flow name="chat-api-main">
        <http:listener config-ref="chat-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="setting up vars to be accessed by all the flows" doc:id="0c7feaac-d31e-4d2a-9bcb-98be289bf9eb">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="magicPASSWD"><![CDATA[%dw 2.0
output application/java
---
"astro and max"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="chat-api-config" doc:name="APIkit Router"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="chat-api-console">
        <http:listener config-ref="chat-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="chat-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\messages:chat-api-config">
        <os:retrieve doc:name="Retrieve" doc:id="68db1664-8ced-4f8d-9b95-357135a587f9" key="messages" objectStore="messages" target="messageList">
            <os:default-value><![CDATA[#[
			output application/java
			---
			""
]]]></os:default-value>
        </os:retrieve>
        <choice doc:name="Choice" doc:id="879062a7-a741-486a-b202-11668259a72c">
            <when expression="#[isEmpty(vars.messageList)]">
                <java:new doc:name="New" doc:id="73f28d4e-c55c-43dd-95e3-775fce40f9fa" class="java.util.ArrayList" constructor="ArrayList()" target="messageList" />
            </when>
        </choice>
        <ee:transform doc:name="Transform Message" doc:id="90bcbca4-d55d-49d8-9463-d6aabdf8a09b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
messages: vars.messageList]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\messages:application\json:chat-api-config">
		<choice doc:name="Choice" doc:id="449ba74d-64c4-4cdd-92a2-04a9265d73aa" >
			<when expression="#[attributes.headers.authorization == vars.magicPASSWD]" >
				<flow-ref doc:name="postMessageiSub_Flow" doc:id="9d1a2f5f-37a4-4365-a850-056c7e5b65e5" name="postMessageiSub_Flow"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Unauthorized Access" doc:id="bc2bc83b-9f8d-4db1-80cd-feaa0dfb9b22" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    	<sub-flow name="storeMessage" doc:id="4b068913-1564-490c-b94b-81077dc665d8" >
		<ee:transform doc:name="Transform Message" doc:id="e7658fe3-f5f4-4c5e-8769-0b4c16fc30ee">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	destination: payload.destination,
	text: payload.text,
	username: payload.username,
	timestamp: now()
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="message"><![CDATA[%dw 2.0
output application/java
---
{
	destination: payload.destination,
	text: payload.text,
	username: payload.username,
	timestamp: now()
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<os:retrieve doc:name="Retrieve" doc:id="2c5d0bcd-b7ba-4357-a953-814a6763c2ad" key="messages" objectStore="messages" target="messageList">
            <os:default-value><![CDATA[#[
			output application/java
			---
			""
]]]></os:default-value>
        </os:retrieve>
		<choice doc:name="Choice" doc:id="be1a14af-1f3b-4b94-b6ca-e03cb509e2ee">
            <when expression="#[isEmpty(vars.messageList)]">
                <java:new doc:name="New" doc:id="73f28d4e-c55c-43dd-95e3-775fce40f9fa" class="java.util.ArrayList" constructor="ArrayList()" target="messageList" />
            </when>
        </choice>
		<scripting:execute doc:name="Execute" doc:id="ecea1b2c-9568-4535-8973-6a30712c4258" engine="groovy">
            <scripting:code>vars.messageList.add(vars.message)</scripting:code>
        </scripting:execute>
		<os:store doc:name="Store" doc:id="ce91d4c2-ae33-4fbb-8331-efa878fb94c2" key="messages" objectStore="messages">
            <os:value><![CDATA[#[vars.messageList]]]></os:value>
        </os:store>
		<ee:transform doc:name="Transform Message" doc:id="1ae77a71-9086-476a-89b4-2a40885d0014">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.message]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</sub-flow>

    <sub-flow name="postMessageiSub_Flow" doc:id="552bb802-35d7-4192-8cc5-5dcd5ed8e81c" >
        <ee:transform doc:name="Transform Message" doc:id="e62472c9-d086-4fd3-a684-df87c1f4788a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
			<ee:variables >
				<ee:set-variable variableName="text" ><![CDATA[%dw 2.0
output application/java
---
payload.text]]></ee:set-variable>
			</ee:variables>
				</ee:transform>
		<choice doc:name="Choice" doc:id="66615e61-682d-4073-b508-637ee1d48f36" >
			<when expression='#[payload.destination == "bot"]' >
				<os:retrieve doc:name="Retrieve Messages" doc:id="2c5d0bcd-b7ba-4357-a953-814a6763c2ad" key="messages" objectStore="messages" target="messageList">
			<os:default-value><![CDATA[#[
			output application/java
			---
			""
]]]></os:default-value>
		</os:retrieve>
				<choice doc:name="Choice" doc:id="c7a0570f-db64-47c8-9aa4-4ec6f91c81c2">
					<when expression='#[isEmpty(vars.messageList)]'>
						<ee:transform doc:name="Handshake with Dialogflow" doc:id="3007e804-3e9e-4299-a6be-25aa07093561">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "event": {
    "name": "custom_welcome",
    "data": {
      "user_name": "uri"
    }
  },
  "lang": "en",
  "sessionId": "123"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<http:request method="POST" doc:name="Request" doc:id="4b795c8d-bda8-46e2-ba75-db975cadb816" path="/request" config-ref="order-change-fullfilment"/>
			</when>
					<when expression='#[vars.text == "Hi, I want to change my order"]' >
						<ee:transform doc:name="Handshake with Dialogflow" doc:id="3007e804-3e9e-4299-a6be-25aa07093561">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "event": {
    "name": "custom_welcome",
    "data": {
      "user_name": "uri"
    }
  },
  "lang": "en",
  "sessionId": "123"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<http:request method="POST" doc:name="Request" doc:id="4b795c8d-bda8-46e2-ba75-db975cadb816" config-ref="order-change-fullfilment" path="/request" />
					</when>
		</choice>
				<ee:transform doc:name="Transform Message" doc:id="828080b8-d3f6-4166-8085-a5de7bc00c51" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "query": vars.text,
  "lang": "en",
  "sessionId": "123"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="cdeec091-3616-4412-ab83-85660bcfacfc" config-ref="order-change-fullfilment" path="/request" />
			</when>
			<otherwise >
				<flow-ref doc:name="storeMessage" doc:id="4a8e6488-e074-487a-b064-f6ce829e037a" name="storeMessage" />
			</otherwise>
		</choice>
    </sub-flow>
	<flow name="put:\messages:application\json:chat-api-config">
		<choice doc:name="Choice" doc:id="ebaf7c8b-a593-4422-b956-98b78bad77c0" >
			<when expression="#[attributes.headers.authorization == vars.magicPASSWD]" >
				<flow-ref doc:name="putMessagesSub_Flow" doc:id="45eec3d8-3a16-47a8-a3b4-ef25d657d6e1" name="putMessagesSub_Flow"/>
				<ee:transform doc:name="Success" doc:id="085cba87-7bb9-450c-aa49-edfdb8f42b2d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
204]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Unauthorized Access" doc:id="b1dc7ee5-b445-4fe8-acf2-b3478bb7b8e5" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
	<sub-flow name="putMessagesSub_Flow" doc:id="afedacf0-ae79-4ba5-9d7c-5b880fe6ab42" >
        <ee:transform doc:name="Making the payload safe to be used" doc:id="32d9d343-050c-4488-9bdd-4a82fc13241c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload default {}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="replacing the existing messages" doc:id="ce91d4c2-ae33-4fbb-8331-efa878fb94c2" key="messages" objectStore="messages">
		</os:store>
		<logger level="INFO" message="put:\messages:application\json:chat-api-config" doc:name="Logger"/>
	</sub-flow>
</mule>
